import(methods)
import(Rcpp)
importFrom(SparseM, as.matrix.csr)
import(tm)

exportClasses(
              maxent
              )

exportPattern("^[^\\.]")


S3method("as","compressed.matrix")
S3method("predict","maxent")
S3method("load","model")
S3method("save","model")
